body {
    line-height: 1.5;
}

ul {
    padding-left: 0;
}

ul li {
    list-style-type: none;
}


/*------------ TYPOGRAPHY ------------*/

h1,
h2,
.position {
    text-transform: uppercase;
}

h1 {
    font-size: 3.2em;
    text-align: center;
}

h2 {
    color: #0097cf;
    font-size: 1.8em;
    padding: 1em 0 0.5em 0;
}

h3 {
    font-size: 1.3em;
}

p {
    font-size: 1.1em;
}


/*
header {
    background: url('../images/Screenshot from 2022-09-15 23-42-00.png') no-repeat;
    background-size: cover;
}
*/


/*---------------- WRAPPER ---------------*/

.wrapper-hf {
    position: relative;
}

.wrapper-with-header {
    padding: 7em 0 12em 0;
}

.wrapper-without-header {
    padding: 18em 0 12em 0;
}

.wrapper-hf::before {
    content: "";
    background: url('../images/Screenshot from 2022-09-15 23-42-00.png') no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: -1;
}

.wrapper-hf::after {
    content: "";
    background: url('../images/Screenshot\ from\ 2022-09-15\ 23-44-27.png') no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: -1;
}


/*--------------- HEADER ------------*/

.position {
    color: #1e497d;
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.profile img {
    width: 250px;
    height: 250px;
}


/*---------------- MAIN ----------------*/

main {
    padding-top: 1.8em;
}

.info-section .info-skills:first-child>h2,
.projects-section>h2 {
    padding: 0 0 0.5em 0;
}

.projects-section {
    padding-right: 63px;
}

.project {
    margin-top: 20px;
    /*  padding: 10px 80px 0 0;*/
    padding-top: 10px;
}

.project>p {
    margin: 0;
}

.project-github {
    color: #0097cf;
}

.info-section {
    border-left: 4px solid #0097cf;
    padding-left: 5em;
}

.info-section>.info-skills:nth-child(1) {
    line-height: 2;
}

.skills {
    height: 380px;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.7em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1em;
    }
    p,
    ul li {
        font-size: 0.9em;
    }
    .wrapper-hf {
        position: initial;
    }
    .wrapper-hf::after {
        position: initial;
    }
    .position {
        font-size: 1.4em;
        letter-spacing: 1px;
    }
    .profile img {
        width: 200px;
        height: 200px;
    }
    .projects-section {
        padding-right: 25px;
    }
    .info-section {
        border-left: 3px solid #0097cf;
        padding-left: 3em;
    }
    .skills {
        height: 280px;
    }
}

@media screen and (max-width: 768px) {
    .info-section {
        border-left: none;
        border-top: 3px solid #0097cf;
        padding-top: 2em;
    }
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 1.1em;
        padding: 0;
    }
    h3 {
        font-size: 0.9em;
    }
    p,
    ul li {
        font-size: 0.8em;
    }
    .profile {
        text-align: center;
    }
    .projects-section {
        padding-right: 0;
    }
    .info-section {
        padding-left: 0;
    }
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1220px;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1040px;
    }
}